<!-- TODO : Center the box for holding all of the text and images  -->
<md-content class="home-background home-content" layout="column" layout-wrap layout-align="center center">
  <div layout-align="center center" class="">

    <img style="width: 89px;" src="http://localhost:3000/modules/core/client/img/brand/logo.png" alt="james-logo"/>

    <p class="home-title">
      James Byrne
    </p>

    <hr width="55%" align="center">

    <p class="home-body-text">
      Hi, I’m James. I specialise in creating fully custom websites for small business and individuals. If you are looking to work together or just start a conversation, kindly get in touch
    </p>

    <!-- Add the icons and links here  -->
  </div>
</md-content>
