<md-content class="home-background home-content" layout="column"  layout-align="center center">
  <img class="home-logo" src="/modules/core/client/img/brand/logo.png" alt="james-logo"/>

  <p class="home-title">
    James Byrne
  </p>

  <hr width="55%" align="center">

  <p class="home-body-text">
    Hi, I’m James. I specialise in creating fully custom websites for small business and individuals. If you are looking to work together or just start a conversation, kindly get in touch
  </p>

  <div layout-align="space-around center">

    <a href="https://github.com/James-Byrne">
      <img src="/modules/core/client/img/social-icons/github-large.png" flex class="home-social-button"></img>
    </a>
    <a href="https://twitter.com/JamesDesByrne">
      <img src="/modules/core/client/img/social-icons/twitter-large.png" flex class="home-social-button"></img>
    </a>
    <a href="https://www.linkedin.com/in/jamesdesbyrne">
      <img src="/modules/core/client/img/social-icons/linkedin-large.png" flex class="home-social-button"></img>
    </a>
    <a href="mailto:james@byrnecodes.com">
      <img src="/modules/core/client/img/social-icons/mail-large.png" flex class="home-social-button"></img>
    </a>
  </div>
</md-content>
