// Add the imports here
// @import "home.scss";
// @import "header.scss";
// @import "contact.scss";

.main-background {
  background-image: url('modules/core/client/img/background/background.png');
  background-size: cover;
}
@media (max-width: 600px) {
  .main-background{
    background-image: url('modules/core/client/img/background/background-dark.png');
  }
}
a {
  color: transparent;
}
.md-button {
  background-color: #0091EA
}
