// Add the imports here
// @import "home.scss";
// @import "header.scss";
// @import "contact.scss";

.main-background {
  background-image: url('../img/background/background.png');
  background-size: cover;
  min-height: 600px;
}
@media (max-width: 600px) {
  .main-background {
    background-image: url('../img/background/background-mobile-small.png');
  }
}
a {
  color: transparent;
}
.md-button {
  background-color: #0091EA
}
